// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
@import 'show';

body {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.3em;

    h1 {
        padding: 15px;
    }


    .image{

        img {
            width: 150px;
            border-radius: 10px;
        }

    }

}


