// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Partials
@import 'show';

body {
  background-color: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.3em;

  .container {

    max-width: 100%;
    margin-bottom: 200px;

    h1 {
      padding: 15px;
    }


    .image {

      img {
        width: 150px;
        border-radius: 10px;
      }

    }


  }

}
